body {
    background-color: #777;
}

.wrap {
    width: 70%;
    position: relative;
    margin: auto;
}

.wrap-1 {
    position: relative;
    float: left;
    width: 400px;
    height: 250px;
}

.block {
    padding: 100px;
    width: 50px;
    background-color: #ebebeb;
    text-align: center;
    font-family: sans-serif;
    color: #777;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 8px;
    position: relative;
}

.block-1 {
    position: relative;
    width: 98%;
    padding: 10px;
}

.block-2 {
    position: relative;
    width: 98%;
    padding: 10px;
    margin-bottom: 12px;
}

.block-3 {
    position: relative;
    float: left;
    width: 400px;
    text-align: top;
}

.block-4 {
    position: relative;
    float: left;
    color: #ebebeb;
    background-color: #777;
    z-index: 1;
    bottom: 192px;
    left: 24px;
    width: 392px;
    padding: 80px;
}

.block-5 {
    position: relative;
    float: left;
    bottom: 300px;
    padding: 10px;
    left: 90px;
    width: 392px;
    z-index: 2;

}

.block-6 {
    position: relative;
    float: left;
    bottom: 300px;
    padding: 10px;
    left: 90px;
    width: 392px;
    z-index: 3;
}

.block-7 {
    position: relative;
    float: left;
    width: 250px;
    left: 204px;
    margin-left: 8px;
}

.block-8 {
    position: relative;
    float: left;
    width: 862px;
}